// Colors
$black: #161b22;
$dark: #102031;
$white: white;
$red: red;
$green: green;
$gray: #21262d;
$grey: $gray;
$turquoise: #1d6062;
$turquoise-light: #009797;

// Elements Colors
$filters-bg: rgba(25, 25, 28, 0.96);

// Gradients
$turquoise-gradient: linear-gradient(to top, $turquoise 0, $turquoise-light 100%);
